@{
    ViewBag.Title = "Solo Lectura";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<h2>Solo lectura</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal well">
        <center>
            <h4>Lo sentimos @User.Identity.Name</h4><br><br>
            <h1 style="font-size: 3cm"><span class="glyphicon glyphicon-lock"></span></h1><br><br>
            <h4>Su usuario no está autorizado para realizar cambios en el sistema.</h4>
            @Html.ActionLink("Regresar", "Index", "Home", "", new { @class = "btn btn-default" })
        </center>
    </div>
}
