.modalLoad {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Content/loader.gif') 50% 50% no-repeat;
}

/* Se oculta la barra scroll cuando body tiene la clase loading */
body.loading {
    overflow: hidden;
}

/* Se hace visible el div modal, cuando body tiene la clase loading */
body.loading .modalLoad {
    display: block;
}
