@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CNTS - Solicitud de acceso a la Plataforma de Informes</title>

    <!-- CSS -->
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">

    <!-- Respond.js soporte de media queries para Internet Explorer 8 -->
    <!-- ie8.js EventTarget para cada nodo en Internet Explorer 8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Contenido -->
    <main class="page">
        <div class="container">
            <div class="row col-md-8">
                <h2>Registro Nacional de Bancos de Sangre</h2>
                <h3>Iniciar sesión<br /><br /></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    @using (Html.BeginForm("Index", "Inicio", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="codigo_establecimiento">Código de Establecimiento:</label>
                            <div class="col-md-6">
                                <input type="text" name="codigo_establecimiento" class="form-control" placeholder="99-99-9-999" required="" autofocus="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-6 control-label" for="password">Contraseña:</label>
                            <div class="col-md-6">
                                <input type="password" name="password" class="form-control" placeholder="Contraseña" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pull-right">
                                @Html.ActionLink("Olvidé mi contraseña", "Index", new { controller = "RecuperarContraseña" }, new { @class = "btn btn-link" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pull-right">
                                @Html.ActionLink("Solicitud de incorporación", "Paso1", new { controller = "SolicitudIncorporacion" }, new { @class = "btn btn-default" })
                                <button class="btn btn-primary" type="submit">Ingresar</button>
                            </div>
                        </div>

                        if (ViewBag.Error != null)
                        {
                            <br />
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>¡Atención!</strong> @ViewBag.Error
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </main>
    <h1><br /><br /></h1>
    <!-- JS -->
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>
</html>
